streamlit==1.38.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.1
opencv-python==4.10.0.84
altair==5.4.1
geopy==2.4.1
shapely==2.0.4
folium==0.17.0
streamlit-folium==0.7.0
matplotlib==3.7.2  # Added for plotting
seaborn==0.12.2    # Added for advanced visualizations
