streamlit==1.38.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.7.2
opencv-python==4.10.0.84
altair==5.4.1
geopy==2.4.1
shapely==2.0.4
folium==0.17.0
tensorflow==2.16.1  # If your app uses TensorFlow models
torch==2.3.0  # If your app uses PyTorch models
